<div class="columns is-centered mt-6">
    <div class="column is-half">
        <% @entries.each do |day, entries| %>
            <h3 class="is-size-4 has-text-weight-bold mb-4 has-text-centered m-5">Entries for <%= day %></h3>
            <% entries.each do |entry| %>
                <%= link_to entry_path(entry) do %>
                <div class="card">
                    <div class="card-content">
                        <strong><%= entry.meal_type %></strong><br>
                        <%= entry.calories %>g Calorie,
                        <%= entry.proteins %>g protein,
                        <%= entry.carbohydrates %>g carbohydrate,
                        <%= entry.fats %>g fat
                    </div>
                </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
